@using Sandbox.UI

@namespace DarkDescent.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div @ref=AimPip class="aim-pip" />
	<div @ref=CrosshairInternal class="crosshair" />
	<div class="body" >@Action</div>
	<div @ref=InteractFailureOverlay class="interact-failure" /> 
</root>
