$gap-default: 10px;
$screen-edge-border: 100px;

$health-color: #ff2121;
$stamina-color: #6cad49;
$experience-color: #f7a4ff;
$experience-subtext-color: #baee90;

//damage colors:
$damage-fire-color: #ef6736;
$damage-frost-color: #0059e1;
$damage-electric-color: #B4D1FFFF;
$damage-physical-color: #e1e1e1;

$font-messages: Alagard;
$font-hud: Alagard;
$font-world-text: Gothica-Book;

.border-regal
{
  border-image: url("textures/ui/borders/ui_border_08.png") 24 24 24 24;
  border: 32px;
  image-rendering: pixelated;
}