@using System
@using DarkDescent.Components
@using Sandbox.UI
@using DarkDescent.UI
@using Sandbox

@namespace DarkDescent.Actor.UI
@attribute [StyleSheet]
@inherits PanelComponent

<root>
	<div class="actor-name">
		<div class="level">
			<label class="overlay">
				@Actor.Level;
			</label>
		</div>
		<label class="name">@DisplayName</label>
	</div>
	@if (Actor is not null)
	{
		<ResourceBar class="gothic-style health-bar" Maximum=@Actor.Stats.MaxHealth Minimum=@(0) Current=@Actor.Health/>
	}
	@*<ResourceBar class="resource-bar stamina-bar" Maximum=@ActorComponent.Stats.MaxStamina Minimum=@(0) Current=@ActorComponent.Stamina />*@
</root>

@code
{
	public ActorComponent Actor { get; set; }

	private string DisplayName
	{
		get
		{
			if (Actor is null || Actor is null)
				return "";
			
			if (Actor.TryGetComponent<ObjectClassifierComponent>(out var classifier))
			{
				return classifier.DisplayName;
			}
			
			return Actor.GameObject.Name;
		}
	}
	
	//not amazed by this prospect.
	//full rebuild of the HUD every time a stat changes is :s
	protected override int BuildHash()
	{
		if ( Actor is null )
			return 0;

		return HashCode.Combine( Actor.Level, Actor.Stats.MaxHealth, Actor.Health, Actor.Stats.MaxStamina, Actor.Stamina );
	}
}
