@import "NumberPanels.scss";

.damage-number
{
  .main-number
  {
/*    animation-name: damageNumberAnimation;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;*/
    
    font-size: 100px;
    text-stroke: 16px black;
  }

  .physical
  {
    filter: contrast(115%) brightness(200%) sepia(15%);

    color: $damage-physical-color;
  }
  
  .fire
  {
    filter: contrast(115%) brightness(450%) sepia(15%);
    
    color: $damage-fire-color;
  }

  .frost
  {
    filter: contrast(110%) brightness(450%) sepia(35%);

    color: $damage-frost-color;
  }

  .electric
  {
    filter: contrast(300%) brightness(450%);

    color: $damage-electric-color;
  }
}

@keyframes damageNumberAnimation {
  from
  {
    color: palegoldenrod;
    text-stroke: 26px black;
  }
  to
  {
    color: lightgray;
    text-stroke: 13px black;
  }
} 