@import "NumberPanels.scss";

.damage-number
{
  .main-number
  {
    animation-name: damageNumberAnimation;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    font-size: 72px;
    text-stroke: 16px black;
  }
}

@keyframes damageNumberAnimation {
  from
  {
    color: palegoldenrod;
    text-stroke: 26px black;
  }
  to
  {
    color: lightgray;
    text-stroke: 13px black;
  }
}