@import "NumberPanels.scss";

.damage-number
{
  .main-number
  {
/*    animation-name: damageNumberAnimation;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;*/
    
    font-size: 250px;
    text-stroke: 16px black;
  }
  
  .fire
  {
    mask-size: 100% 100%;
    mask-image: radial-gradient(black 0%, white 100%);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-mode: luminance;
    mask-scope: filter;

    filter: saturate(3px);
    
    color: $damage-fire-color;
  }
}

@keyframes damageNumberAnimation {
  from
  {
    color: palegoldenrod;
    text-stroke: 26px black;
  }
  to
  {
    color: lightgray;
    text-stroke: 13px black;
  }
} 