@using System
@using DarkDescent.Actor.Damage
@using Sandbox
@using Sandbox.UI

@namespace DarkDescent.Actor.UI
@attribute [StyleSheet]
@inherits WorldNumberComponent

<root class="world-number-panel experience-number">
	<label class="main-number">@($"+{Experience:#0.}")</label>
	@if (Experience.AlmostEqual( 69, 0.5f ))
	{
		<div class="xp-label">nice</div>
	}
	else
	{
		<div class="xp-label">XP</div>
	}
</root>

@code 
{
	private float Experience { get; set; }
	private DamageEventData DamageEventData { get; set; }
	
	public static GameObject Create( float experience, DamageEventData damageEventData )
	{
		var gameObject = SceneUtility.SpawnPrefabFromPath("data/experience_number.object", damageEventData.Position, Rotation.Identity);

		if (gameObject.Components.TryGet<ExperienceNumberComponent>(out var experienceNumberComponent))
		{
			experienceNumberComponent.Experience = experience;
			experienceNumberComponent.DamageEventData = damageEventData;

			experienceNumberComponent.Transform.Position = damageEventData.Position;

			experienceNumberComponent.CalculateVelocity();
		}
		
		return gameObject; 
	}

	protected sealed override void CalculateVelocity()
	{
		//var pos = DamageEventData.Target != null ? DamageEventData.Target.WorldSpaceBounds.Center : Position;
		var pos = DamageEventData.Target.Transform.Position;
		pos = pos.RotateAround( DamageEventData.Position, Rotation.FromPitch( Game.Random.Float( -90, 90 ) ));
		
		var dir = (DamageEventData.Position - pos).Normal;
		
		Velocity = dir * Game.Random.Float( 250, 350 );
	}
}
